doctype html
html(lang="uk")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../styles/main.css")
        //- script(src="../scripts/no-logo.js" defer) 
        title Лабораторна робота №1 Врюкала Володимира
    body
        p 
            | ПІБ: Врюкало Володимир Вікторович
        br

        .links 
            ol Посилання
                li
                    a(href="student.html") student.html
                li
                    a(href="biography.html") biography.html
                li
                    a(href="Hyperlinks/history.html") history.html
                li
                    a(href="Hyperlinks/rizne.html") rizne.html