doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Lab #2
    body
        h3 У VSCode:
        img(src="../media/Screenshot_20221016_195541.png", alt="vscode")

        h3 У файловому менеджері:
        img(src="../media/Screenshot_20221016_195600.png", alt="file-manager")