doctype html
html(lang="uk")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Індекс
    body
        .main
            h3 Я - Володя Врюкало. Варіант - 21.
        .urls
            ul.frontend Основи програмної інженерії
                li
                    a(href="opi/lab1-vriukalo/lab1.html") Лабораторна №1
                li
                    a(href="opi/lab2-vriukalo/lab2.html") Лабораторна №2
                li
                    a(href="opi/lab7-vriukalo/lab7.html") Лабораторна №7
                li
                    a(href="opi/lab8-vriukalo-git/1.html") Лабораторна №8
                

            ul.frontend Фронтенд
                li
                    a(href="frontend/lab1-vriukalo/lab1.html") Лабораторна №1
                li
                    a(href="frontend/lab2-vriukalo/lab2.html") Лабораторна №2
                li
                    a(href="frontend/lab3-vriukalo/lab3.html") Лабораторна №3