doctype html
html(lang="uk")
    head
        title Z1
        meta(charset="UTF-8")
        link(rel="stylesheet", href="z1.css")
    body(bgcolor="#FFCC99")
        h2 Приємно на пари з ранку приходити
        h2.curs Приємно бачити добрі очі екзаменатора
        h2#bgmagenta Приємно зайти в деканат після сесії
        p#bgmagenta
            | Приємно не мати "хвостів",
        br
        
        | бути успішним і
        
        br#fishka
        
        | упевненим у завтрашньому дні
        h2.curs Приємно вчасно захищати лабораторні роботи...
        
        br
        br
        
        .text(align="center ")
            | Життя світле й безхмарне, коли тобі 20 років і 
            | попереду
        p.normal море надій,
        
        hr#bgyellow(size="8")
        
        | усе тіло наповнене енергією й готове до
        p#bgmagenta здійснень, щастя, любові
        h3.curs Життя повне приємних моментів
        h3#fishka(align="center") Тільки варто небагато попрацювати
        hr#bgmagenta(align="center", size="5", width="200")
        hr#bgyellow(align="center", size="5", width="150")
        h2#bgyellow(align="center") Мрії  прогульника
        h2.normal Том 2. Повне зібрання студентських снів
        #first Перший блок
        #second Другий блок